body {
  background-color: #e4ccff;
  background: linear-gradient(120deg, #e0c3fc 0%, #8ec5fc 100%);
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

h1,
h2,
h3 {
  font-weight: 700;
}

h1 {
  font-size: 32px;
}

a {
  color: #7d76ff;
}
a:hover {
  color: #726bf0;
  text-decoration: none;
}
.card-custom {
  padding: 32px;
  background-color: #fff;
  margin-top: 40px;
  border-radius: 5px;
}

.btn-primary {
  background-color: #7d76ff;
  border-color: #7d76ff;
}

.btn-primary:hover {
  background-color: #726bf0;
  border-color: #726bf0;
}

.btn-secondary {
  color: #7370a7;
  background-color: #e4e3f0;
  border-color: #e4e3f0;
}

.btn-secondary:hover {
  color: #7875ab;
  background-color: #cccae0;
  border-color: #cccae0;
}

.btn-outline-primary {
  color: #7d76ff;
  border-color: #7d76ff3b;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #7d76ff;
  border-color: #7d76ff;
}

.btn-sm {
  font-size: 0.8rem;
}
.weather-forecast__card {
  border: 1px solid #e4ccff;
  padding: 16px;
  text-align: center;
  margin-bottom: 12px;
}
.weather-forecast__card p:last-child {
  margin-bottom: 0;
}

.weather-forecast__card i {
  margin-bottom: 16px;
  font-size: 20px;
}

.forecast-temperature-min {
  opacity: 0.5;
}
.icon i {
  font-size: 56px;
  margin-right: 16px;
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
  opacity: 0.7;
}

footer a {
  font-weight: 700;
}

#search-form .form-control {
  background-color: #f6f5f6;
  border: 0;
}

.card-custom__header {
  margin-bottom: 24px;
}
.card-custom__header .navbar-brand {
  font-size: 26px;
  font-weight: 700;
  color: #7d76ff;
}

#description::first-letter {
  text-transform: capitalize;
}

.city-weather__info a.active {
  color: #6c757d;
}

.city-weather__info a.active:hover {
  color: #6c757d;
  text-decoration: none;
  cursor: default;
}

.city-weather__info {
  min-width: 136px;
}
